<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <audio controls autoplay id="au" hidden>
  
  <source src="../static/music/MaryClare.mp3" type="audio/mpeg" >
</audio>
</body>
<script>
    var c=0;/*from w  w  w  . j a va  2s  .  c o  m*/
    var songs = ["../static/music/BAD-CANDY.mp3", "../static/music/BAD-CANDY.mp3", "C.mp3"];
    var a=document.getElementById("au");
    a.addEventListener('ended', function(){
      document.getElementById("au").src=songs[c];
      a.load();
      console.log(c);
      c++;
      if(c>=songs.length){
          c=0;
      }
    });
    
          </script>  
</html>