{% extends 'home.html' %}
{% block task %}

<div class="col-md-4">
    <div class="card shadow-none">
        <div class="card-header bg-black">
            <h3 class="card-title">Task Today</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body bg-black">
            <table class="table mb-1">
                {% for coba in coba %}
                <tr>
                    <td scope="row">{{ coba['id'] }}</th>
                    <td>{{ coba['task'] }}</td>
                    <td><a href="#!" data-mdb-toggle="tooltip" title="Done"><i class="fas fa-check text-white"></i></a>
                </a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

{% endblock %}